<h1> About </h1>
<p>

	<%= link_to "One Month Rails", "www.twitter.com" %> 
	Is a project to teath me how to code rails
	<%= link_to "Ruby on rails", "www.rubyonrails" %>
	In one month yada yada yada. 

	