
   <style>

html { 
      background: url('http://i.imgur.com/Csqni0B.jpg') no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    </style>

<center><h1>Welcome to WorkGrad
<p>
<small>Apply privately to 10,329 Businesses with one profile 
No middlemen  
</small></h1>
</p>
<p> 
     <%= link_to "Sign Up Now", "#" %>

     <div class="btn-group btn-group-lg" role="group" aria-label="...">
<p> 
<p> 
<p>
</center>
  
<div class="row">
	<div class="span8"></div>
	<div class="span1">

	<%= link_to "Find A Job", "#", class: "btn btn-primary btn-lg" %>  
		&nbsp;&nbsp;
	<%= link_to "Post A Job", "#", class: "btn btn-default btn-lg" %></div>

  	</div>
 	
</div>

</p>

	